# Iris Dataset Practice: Interactive Pandas Tutorial

This notebook will guide you through pandas basics using the famous Iris dataset. 

**Instructions:**
1. Read each question carefully
2. Try to write your own solution in the "Your Code" cell
3. Run the "Solution" cell to see the answer
4. Compare your solution with the provided one

Let's get started!

In [ ]:
# Import required libraries
import pandas as pd

# Load the dataset
df = pd.read_csv('./data/Iris/Iris.csv')

# Display first few rows
df.head()

## Question 1: Basic Dataset Information

**Task:** Get the basic information about the dataset including:
- Number of rows and columns
- Column names
- Data types
- Memory usage

In [ ]:
# Your code here

## Question 2: Descriptive Statistics

**Task:** Get descriptive statistics for all numerical columns including:
- Count
- Mean
- Standard deviation
- Min/max values
- Quartiles

In [ ]:
# Your code here

## Question 3: Check for Missing Values

**Task:** Check if there are any missing values in the dataset.

In [ ]:
# Your code here

## Question 4: Unique Species

**Task:** Find all unique species in the dataset and count how many of each species there are.

In [ ]:
# Your code here

## Question 5: Filtering Data

**Task:** Filter the dataset to show only:
- Setosa species with sepal length greater than 5.0
- Versicolor species with petal width less than 1.5

In [ ]:
# Your code here

## Question 6: Grouping and Aggregation

**Task:** Calculate the following for each species:
- Average sepal length
- Maximum petal width
- Minimum sepal width

In [ ]:
# Your code here

## Question 7: Adding New Columns

**Task:** Create a new column called 'petal_area' that calculates the area of the petal (length √ó width).

In [ ]:
# Your code here

## Question 8: Sorting Data

**Task:** Sort the dataset by:
1. Sepal length in descending order
2. Petal width in ascending order (for same sepal length values)

In [ ]:
# Your code here

## Congratulations! üéâ

You've completed the basic pandas exercises with the Iris dataset!

**What you've practiced:**
- Loading and inspecting datasets
- Handling missing values
- Filtering and selecting data
- Grouping and aggregation
- Adding new columns
- Sorting data

**Next Steps:**
1. Try these operations on a different dataset
2. Explore more advanced pandas operations
3. Practice with the Titanic dataset (next in our series)

Keep practicing and happy coding! üêº